@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
:root {
  --color-main-001: #eee;
  --color-main-002: #a0a0a0;
  --color-main-003: #454545;
  --color-main-004: #232323;
  --color-sub-001: #7f6aff;
  --color-sub-002: #35fff3;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-main-001);
  background: linear-gradient(to bottom, transparent, var(--color-main-004))
    var(--color-main-003);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .underline-offset-1 {
    text-underline-offset: 1px;
  }
  .underline-offset-2 {
    text-underline-offset: 2px;
  }
  .underline-offset-4 {
    text-underline-offset: 4px;
  }
  .underline-offset-8 {
    text-underline-offset: 8px;
  }
  .text-title {
    font-size: 5.5rem;
    line-height: 1.2;
  }
  .text-sub-title {
    font-size: 2.5rem;
    line-height: 1.3;
  }
  .rel_width {
    width: 85%;
  }
  .icon-click {
    @apply border-white border-opacity-100 text-opacity-100;
  }
  .progress-bar {
    @apply w-full bg-gray-200 rounded-3xl h-6;
  }

  .progress-bar::-webkit-progress-bar {
    @apply bg-gray-200 rounded-lg;
  }

  .progress-bar::-webkit-progress-value {
    @apply bg-blue-600 rounded-lg;
  }

  .progress-bar::-moz-progress-bar {
    @apply bg-blue-600 rounded-lg;
  }

  .progress-text {
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 text-black font-bold;
  }
}
@keyframes identifier {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  20% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    filter: blur(20px);
  }
}
@keyframes iconani {
  0% {
    opacity: 0;
    filter: blur(20px);
  }

  20% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes movingImage {
  30% {
    clip-path: inset(0% 80% 0% 0px);
  }

  70% {
    clip-path: inset(20% 80% 20% 0px);
  }

  100% {
    clip-path: inset(100% 80% 0% 0px);
  }
}
@keyframes movingImage2 {
  30% {
    clip-path: inset(5% 60% 5% 21%);
  }

  70% {
    clip-path: inset(15% 60% 15% 21%);
  }

  100% {
    clip-path: inset(100% 60% 0% 21%);
  }
}
@keyframes movingImage3 {
  30% {
    clip-path: inset(10% 40% 10% 41%);
  }

  70% {
    clip-path: inset(10% 40% 10% 41%);
  }

  100% {
    clip-path: inset(50% 40% 50% 41%);
  }
}
@keyframes movingImage4 {
  30% {
    clip-path: inset(15% 20% 15% 61%);
  }

  70% {
    clip-path: inset(5% 20% 5% 61%);
  }

  100% {
    clip-path: inset(0% 20% 100% 61%);
  }
}
@keyframes movingImage5 {
  30% {
    clip-path: inset(20% 0% 20% 81%);
  }

  70% {
    clip-path: inset(0% 0% 0% 81%);
  }

  100% {
    clip-path: inset(0% 0% 100% 81%);
  }
}
@keyframes openAni {
  100% {
    width: 100%;
  }
}
